/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "./actiontext.css";

.page_header.ds.affix {
    /*background: #d0d4d5 !important;*/
    background: #677b72 !important;

}

.product-menu {
    /*background-color: #367f2d;*/
    background-color: #228140;
    /*background-color: #677b72;*/
}
.logo-footer {
    min-width: 290px;
}
.page_footer {
    /*background: #d0d4d5 !important;*/
    background: #677b72 !important;

}
.metaphone {
    color:  white !important;
}
.sixox-menu {
    background: #677b72 !important;
}
.g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}
.articlecard {
    background-color: #efeacf !important;
}
.articlehome {
    background-image: linear-gradient(90deg, rgb(203 217 201) 0%, rgb(131 157 134) 35%, rgb(175 183 175) 100%);
}
.articlehome p {
    color: #3f3109;
}
.articlehome .vertical-item {
    /*background-color: lightgrey;*/
    border: 2px solid #00000008 !important;
}
.articlehome .owl-stage-outer img {
    max-height: 246px !important;
}
span.gheyb {
    display: none !important;
}