<section class="page_title ds s-parallax s-pb-xl-80  s-pb-lg-100  s-pb-md-90 s-pt-md-190 s-pt-180 s-pb-60">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1><%= title %></h1>
				<div class="breadcrumb-wrap">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<%= link_to 'Home', root_path %>
						</li>
						<li class="breadcrumb-item">
							<%= link_to middle, bread_path %>
						</li>
						<li class="breadcrumb-item active">
							<%= last %>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>