<section class="product-menu ds text-sm-left text-center container-px-0 c-gutter-0">
	<div class="container-fluid">
		<div class="row service-v2">
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-81"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							Bitumen
						</h5>
					</a>

					<p>Premium bitumen supplier for global infrastructure projects</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-201"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							RPO
						</h5>
					</a>

					<p>Premium RPO supplier: Trusted quality, global exports</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-211"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							Slack Wax
						</h5>
					</a>

					<p>Premium-grade slack wax for global exports</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-61"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							Base Oil
						</h5>
					</a>

					<p>Premium, versatile, sustainable base oil for global export excellence</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-192"></i>
						</div>
					</a>
					<a href="#">
						<h5>
							Paraffin Wax
						</h5>
					</a>

					<p>High-grade, refined paraffin wax for global export</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-2   ">
				<div class="icon-box service-single with-icon layout2 ds text-center">
					<a class="link-icon" href="#">
						<div class="icon-styled  fs-50">
							<i class="icon icon-161"></i>


						</div>
					</a>
					<a href="#">
						<h5>
							Footsoil
						</h5>
					</a>

					<p>Premium foots oil for global export: Quality, reliability, efficiency</p>
					<!-- <a class="btn btn-outline-darkgrey" href="service-single.html">
						<i class="fas fa-chevron-right"></i>
					</a> -->
				</div>
			</div>
		</div>
	</div>
</section>