<section class="page_slider">
	<div class="flexslider">
		<ul class="slides">
			<li class="ds cover-image", style="max-height: 1012px;">
				<%= image_tag 'slide01.jpg' %>

				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="intro_layers_wrapper">
								<div class="intro_layers">
									<div class="intro_layer text-center">
										<h3 class="text-capitalize intro_featured_word text-center">
											Where Service meets
											Satisfaction
										</h2>
										<%= link_to "Get A Quote", new_inqury_path, data: { turbo: false }, class: "btn btn-outline-darkgrey big-btn" %>

										<span class="text-divider">or</span>
										<a href="#contact-link" class="btn just-link">Request a Callback</a>
									</div>
								</div> <!-- eof .intro_layers -->
							</div> <!-- eof .intro_layers_wrapper -->
						</div> <!-- eof .col-* -->
					</div><!-- eof .row -->
				</div><!-- eof .container-fluid -->
			</li>


		</ul>
	</div> <!-- eof flexslider -->
</section>